= simple_form_for(@playlist_musica) do |f|
  = f.error_notification

  .form-inputs
    = f.association :playlist, label_method: :nome
    = f.association :musica, label_method: :nome

  .form-actions
    = f.submit "Salvar"
