%h1 Gerenciar lista de musicas

%table
  %thead
    %tr
      %th Playlist
      %th Musica
      %th
      %th
      %th

  %tbody
    - @playlist_musicas.each do |playlist_musica|
      %tr
        %td= playlist_musica.playlist.nome
        %td= playlist_musica.musica.nome
        %td= link_to 'Detalhes', playlist_musica, :class => 'allbt'
        %td= link_to 'Editar', edit_playlist_musica_path(playlist_musica), :class => 'allbt'
        %td= link_to 'Excluir', playlist_musica, :method => :delete, :data => { :confirm => 'Are you sure?' }, :class => 'allbt'

%br

= link_to 'Adicionar musicas', new_playlist_musica_path, :class => 'allbt'
