%p#notice= notice

%div.dt
	%p
		%b Playlist:
		= @playlist_musica.playlist.nome
	%p
		%b Musica:
		= @playlist_musica.musica.nome

= link_to 'Editar', edit_playlist_musica_path(@playlist_musica), :class => 'allbt'
\|
= link_to 'Voltar', playlist_musicas_path, :class => 'allbt'
