%h1 Todos os usuarios

%table
  %thead
    %tr
      %th Iduser
      %th Username
      %th Senha
      %th Email
      %th Endereco
      %th
      %th
      %th

  %tbody
    - @usuarios.each do |usuario|
      %tr
        %td= usuario.iduser
        %td= usuario.username
        %td= usuario.senha
        %td= usuario.email
        %td= usuario.endereco
        %td= link_to 'Detalhes', usuario, :class => 'allbt'
        %td= link_to 'Editar', edit_usuario_path(usuario), :class => 'allbt'
        %td= link_to 'Excluir', usuario, :method => :delete, :data => { :confirm => 'Are you sure?' }, :class => 'allbt'

%br

= link_to 'Criar novo Usuario', new_usuario_path, :class => 'allbt'
