%h1  Todas as Playlists

%table.allbt2
  %thead
    %tr
      %th Nome
      %th
      %th
      %th

  %tbody
    - @playlists.each do |playlist|
      %tr
        %td= playlist.nome
        %td= link_to 'Detalhes', playlist, :class => 'allbt'
        %td= link_to 'Editar', edit_playlist_path(playlist), :class => 'allbt'
        %td= link_to 'Excluir', playlist, :method => :delete, :data => { :confirm => 'Are you sure?' }, :class => 'allbt'


= link_to 'Nova playlist', new_playlist_path, :class => 'allbt'
