<!DOCTYPE html>
<html>
<head>
  <title>Compartmusic ONLINE</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

  <%= csrf_meta_tags %>
</head>
<body>
<div class="all">
	<header class="hd">
		<%= render 'layouts/header' %>
	</header>
	<div class="main">
		<%= yield %>
	</div>
	<footer class="ft">
		<%= render 'layouts/footer' %>
	</footer>
</div>

</body>
</html>

